body {
    background-color: violet;
}
h1 {
    color:rebeccapurple; font-size: 100px;
}
@media screen and (max-width: 810px) and (min-width:500px){
    body{
        background-color: aqua;
    }
    h1{
        color:blue; font-size: 80px;
    }
}
@media screen and (max-width: 499px){
    body{
        background-color: darkolivegreen; font-size: 50px;
    }
    h1{
        color: white;font-size: 50px;
    }
}